# 版本控制與設定檔
.git
.gitignore
.dockerignore
*.md
favicon.ico         

# ========== gitignore =========
# 忽略 Python 快取
__pycache__/
*.pyc

#  忽略模型權重檔與金鑰
key.json

# 忽略環境與作業系統
*.venv
.env
*.yml

#  忽略其他資料夾
test/
old/

# --- IDE 設定 ---
.vscode/
.idea/

# --- macOS 系統檔 ---
.DS_Store
