# 忽略 Python 快取
__pycache__/
*.pyc

#  忽略模型權重檔與金鑰
key.json
weights/*.pt
weights/*.pth
# 保留資料夾結構，但忽略內容
!weights/.gitkeep

# 忽略環境與作業系統
*.venv
.env
*.yml

#  忽略其他資料夾
test/
old/

# --- IDE 設定 ---
.vscode/
.idea/

# --- macOS 系統檔 ---
.DS_Store
